<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="myApp">
        <h1>Batman Quotes</h1>

        <hr>

        <li v-for="({ quote, author }, index) in quotes">
            <span> {{ index + 1 }} {{ quote }}</span>
            <blockquote v-if="showAuthor">{{ author }}</blockquote>
        </li>
        <button v-on:click="toggleAuthor">Toggle Author</button>
    </div>
</body>
<script type="module" src="app.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</html>